
body{
    padding-left: 250px;
    padding-right: 250px;
}
.head{
    text-align: center;
    font-size: 200%;
}
.main{
    display: flex;
    flex-wrap: wrap;
}

.unhide{
    color: white;
}

.child{
    background-color: rgb(248, 139, 139);
    font-size: 1000%;
    height: 203px;
    width: 180px
}