* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons button {
     border: none;
     background: rgb(129 64 232);
     outline: none;
     padding: 10px 20px;
     margin-right: 1rem;
     color: rgb(235, 238, 240);
     font-size: 3rem;
     transition: 0.3s;
     border-radius: 1rem;
     box-shadow: 0px 11px 172px 38px rgba(254,91,91,0.75);
     -webkit-box-shadow: 0px 11px 172px 38px rgba(254,91,91,0.75);
     -moz-box-shadow: 0px 11px 172px 38px rgba(254,91,91,0.75);
}

.buttons button:hover {
  background: rgb(247, 49, 49);
}
